*/reset*/

*{
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: normal;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  border: none;
  outline: none;
  width: 100%;
  border: 1px solid black;
}
html, body{
  height: 100%;
}
.clear-fix{
  clear: both;
}
.app-header{
  float: left;
  height: 10%;
  background-color:  #00FA9A;
}
.app-article{
  height: 80%;
  width: 100%;
  float: left;
  background-color: #1E90FF;
}
.app-aside {
  height: 80%;
  width: calc(50% / 2);
  float: left;
}
.aside-article {
  height: 50%;
  width: 100%;
  background-color: orange;
}
.app-main{
  height: 80%;
  width: calc(50% / 2);
  float: left;
  background-color: yellow;
}
.app-tweet{
  width: 50%;
  height: 50%;
  margin: 0 auto;

}
.collection-item{
  width: calc((100%/3) - 0.5em);
  float: left;
  height: 20%;
  margin: 0.25em;
}
.app-footer{
  height: 10%;
  width: calc((100% / 3) - 0.5em);
  float: left;
}
